@import url("./globals.css");

/*#region ACOMODAR LOS ELEMENTOS EN COLUMNA Y EL TITULO EN EL CENTRO*/
.main {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

/*#endregion*/
/*#region ESTILOS*/
input {
  background-color: var(--p-color);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: var(--q-color) 2px solid;
}

button {
  margin-top: 10px;
  cursor: pointer;
}

label {
  color: var(--q-color);
  font-size: 20px;
}

.formTerms > label > a {
  text-decoration: none;
  color: rgb(100, 100, 214);
  text-decoration: underline;
}

.formContainer {
  padding: 10px;
}
/*#endregion*/
/*#region MEDIAQUERY RESPONSIVE*/
@media screen and (max-width: 600px) {
  .mainContainer {
    width: auto;
    height: auto;
  }
}
/*#endregion*/
