@import url("./globals.css");

.questionTableHeader > th {
  color: white;
  font-size: 24px;
  padding: 10px;
}

.questionTableContent > td {
  color: white;
  font-size: 18px;
  border: var(--q-color) 2px solid;
  border-radius: 10px;
  padding: 10px;
}
