@import url("./globals.css");

/*#region ACOMODAR LOS ELEMENTOS Y ESTILOS AL BLOQUE DE ABAJO*/
.main {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  padding: 10px;
  text-align: center;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

.questionDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

.servicesDivContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--q-color);
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* #endregion */
/*#region ESTILOS A LOS DEMAS BLOQUES*/
p {
  text-align: center;
  font-size: 18px;
}

.divQuestionTop {
  border: 2px solid var(--q-color);
  border-radius: 10px;
  padding: 8px;
}

/* #endregion */
/*#region MEDIAQUERY RESPONSIVE*/
@media screen and (max-width: 1400px) {
  .main {
    height: auto;
  }
  .questionDiv {
    flex-direction: column;
  }
}
/* #endregion */
